<section class="admin-products-index">


<header class="page-header">
  <h1>Admin::Dashboard#show</h1>
</header>
<div> Total Products: 
 <%= @product_count %>
</div>
<div> Total categories: 
 <%= @category_count %>
</div>

</section>
